/* Reset default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the body element */
body {
  border: 2px solid red;
  height: 100vh;
  background-color: black;
}

/* Style for the navigation bar */
nav {
  border: 2px solid blue;
  height: 10vh;
  background-color: transparent;
}

/* Style for the navigation links */
#module>ol {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#module {
  margin-top: 20px;
  width: 50vw;
  margin-left: 760px;
}

ol>li>a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-size: 25px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol>li {
  list-style-type: none;
}

/* Style for hover effect on navigation links */
#module>ol>li>a:hover {
  transform: scale(1.4);
  text-shadow: 20px 0px 200px rgb(241, 22, 6);
  transition: 0.3s ease-in-out;
  color: red;
  font-size: 28px;
}

/* Responsive CSS for smaller screens */
@media (max-width: 768px) {
  #module {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  ol>li {
    margin: 10px 0;
    font-size:10px;
  }
}
